# Pakistan Medicine Chatbot - Environment Configuration

# GROQ API Key - Replace with your actual key
GROQ_API_KEY=""

GEMINI_API_KEY=""

# Server Configuration
HOST=localhost
PORT=8000
DEBUG=True

# Application Settings
APP_NAME=Pakistan Medicine Chatbot
APP_VERSION=1.0.0

LANGSMITH_TRACING=true
LANGSMITH_API_KEY=""
LANGSMITH_PROJECT="Medical_Chatbot"