fastapi==0.116.1
uvicorn[standard]==0.35.0

pydantic==2.11.7
python-dotenv==1.1.1

requests==2.32.4

langsmith==0.4.8
langchain-core==0.3.72

orjson==3.11.1

python-multipart==0.0.20

gunicorn==23.0.0
httptools==0.6.4
uvloop==0.21.0
watchfiles==1.1.0
websockets==15.0.1